<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Update Product</title>
</head>
<body>
<h1>Admin Update Product Panel</h1>
<form action="/admin/update/${product.id}" method="post">
    <input name="name" placeholder="Name" value="${product.name}">
    <input name="picture" placeholder="Picture" value="${product.picture}">
    <input name="price" placeholder="Price" value="${product.price}">
    <button type="submit">Сохранить продукт</button>
</form>

</body>
</html>